// COLORS
$color-primary: #031cf8;

$color-primary-light: #5c67cc;

$color-primary-medium: #273088;

$color-background :white;

$color-darkgray:  #777;
$color-darkgray-2:  #999;

$color-lightgray: #f7f7f7f7;
$color-lightgray-2: #dfdedef7;

$color-black: black;


$color-secondary-light: #ffb900;

$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;

$color-tertiary-dark: #28b485;



// GRID VALUES
 $grid-width: 114rem;
 $grid-gutter-vertical: 8rem;
 $grid-gutter-vertical-small: 6rem;
 $grid-gutter-horizontal: 6rem;


//  DEFAULT FONT SIZE
$defalt-font-size: 1.6rem;